<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" type="text/css" href="./../css/index.css" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
        <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
        <script src="../js/dozentenlistview.js"></script>
        <title>HTWapp</title>
    </head>
    <body>

<div data-role="header"> 
    <h1>HTWapp - Dozenten</h1> 
</div> 
        <ul data-role="listview" id="dozent" data-filter="true" data-inset="true" data-divider-theme="a">


          </ul>
        <div data-role="footer" data-id="foo1" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="./../index.html" rel="external">Stundenplan</a></li>
            <li><a href="./dozenten.html" rel="external" class="ui-btn-active ui-state-persist">Dozenten</a></li>
        <!--    <li><a href="./raeume.html" rel="external">R&auml;ume</a></li> -->
            <li><a href="./einstellungen.html" rel="external">Einstellungen</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
    </body>
</html>
